/*
  Psychic Game styles.css
  Bo Slott
  September 2017
*/

/* Typography */


/* Structure */

body {
  padding: 60px 0 100px;
  position: relative;
}

.bg-img {
  position: fixed;
  left: 0;
  top: 20%;
  z-index: -1;
}

.gypsy-win img {
  margin: auto auto;
  position: fixed;
  left: auto;
  right: auto;
  bottom: auto;
  top: auto;
  z-index: 9999;

}

  /* Site Header */

    .logo {

    }

  /* Site Content */

    .game-options-buttons-bar {
      border-style: solid;
      border-color: #efefef;
      border-bottom-width: 1px;
      text-align: center;
    }

      .game-options-button {
        padding: 20px;
      }

      /* Gameboard */

        .gameplay-header {
          margin-top: 10px;
        }

        .gameplay-header h1 {
          width: 30%;
          margin: 10px auto;
          padding: 10px 0;
          color: purple;
          font-size: 36px;
          text-align: center;
          border-style: solid;
          border-color: purple;
          border-width: 2px;
          border-radius: 4px;
        }

        .gameplay-body {
          border-style: solid;
          border-color: purple;
          border-width: 2px;
          border-radius: 10px;
          margin-bottom: 30px;
        }

        .gameplay-instructions h2 {
          text-align: center;
          font-size: 28px;
          color: purple;
          padding-top: 10px;
        }

        .gameplay-user-choice {
          width: 60%;
          margin: 0 auto;
          padding: 20px;
          border-style: solid;
          border-color: purple;
          border-width: 1px;
          background-color: #efefef;
        }

        .gameplay-user-choice-text {
          text-align: center;
          color: purple;
        }

        .gameplay-user-choice-text h2 {
          font-size: 24px;
          white-space: nowrap;
        }

        .gameplay-user-choice-letter p {
          width: 50px;
          height: 50px;
          background-color: #efefef;
          margin: 10px 0 0 10px;
          border-style: solid;
          border-color: purple;
          border-width: 1px;
          color: purple;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }

        .game-over-banner {
          width: 50%;
          padding: 20px;
          background-color: blue;
          text-align: center;
          margin: 0 auto;
        }

        .game-over-banner p {
          color: #fff;
          font-size: 24px;
        }

        .game-over-banner button {
          color: #fff;
          font-size: 24px;
        }

        #compGuess {
          color: #fff;
          font-size: 24px;
        }

        #yesNoBox-no {
          text-align:center;
          padding: 20px;
          width: 33%;
          margin: 10px auto;
          background-color: #efefef;
        }

        #yesNoBox-yes {
          text-align: center;
          padding: 20px;
          width: 33%
          margin: 30px auto;
          background-color: green;
          color: #fff;
        }

        .gameplay-already-guessed-text {
          text-align: center;
          color: purple;
          padding: 20px;
        }

        .gameplay-already-guessed-text h2 {
          font-size: 24px;
        }

        .gameplay-already-guessed-letters {
          display: flex;
          justify-content: center;
        }

        .gameplay-already-guessed-letters p {
          width: 50px;
          height: 50px;
          background-color: #efefef;
          margin: 10px 0 0 10px;
          border-style: solid;
          border-color: purple;
          border-width: 1px;
          color: purple;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }

        .gameplay-guesses-remaining {
          padding: 20px 0;
        }

        .gameplay-guesses-remaining-text {
          text-align: center;
        }

        .gameplay-guesses-remaining-text h2 {
          white-space: nowrap;
          font-size: 24px;
          color: purple;
        }

        .gameplay-guesses-remaining-number p {
          width: 50px;
          height: 50px;
          background-color: #efefef;
          margin: 10px 0 0 10px;
          border-style: solid;
          border-color: purple;
          border-width: 1px;
          color: purple;
          text-align: center;
          font-size: 30px;
          font-weight: bold;
        }

        .totals {
          display: flex;
          justify-content: flex-end;
          padding: 0 50px 20px;
        }

        .totals h2 {
          font-size: 24px;
          color: purple;
        }

        .totals p {
          width: 50px;
          height: 50px;
          background-color: #efefef;
          margin: 10px 0 0 10px;
          border-style: solid;
          border-color: purple;
          border-width: 1px;
          color: purple;
          text-align: center;
          font-size: 30px;
          font-weight: bold;          
        }

  /* Site Footer */

    .site-footer {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 60px;
      background-color: #efefef;
      border-style: solid;
      border-color: #purple;
      border-width: 1px 0 0;
      color: purple;
      text-align: center;
      padding-bottom: 10px;
    }



    .site-footer h2 {
      font-size: 12px;
    }



/* General Use 